<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %> 
    <title>Online Shopper</title>
  </head>
  <body>
    <% include ../partials/navbar %> 
    <div id="container" class="fluid">
      <main role="main">
        <% include ../partials/jumbotron %> 
        <div class="container">
          <div class="row">
          <% for( let k = 0; k < publicProductsData.length; k++ ) { %>
            

            <div class="col-md-4" style="margin-bottom: 30px;">
              <div class="card" style="border-radius: 0;">
                  <img
                    src="<%= publicProductsData[k].image %>"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title"><%= publicProductsData[k].name %></h5>
                    <p class="card-text">
                      <%= publicProductsData[k].description %>
                    </p>
                  </div>
                </div>
              </div>
            
          <% } %>
        </div>
        </div>
      </main>
    </div>
  
<% include ../partials/footer %> 
<% include ../partials/scripts %> 
  </body>
</html>